@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #f9faf8;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

a:hover {
  color: lightblue;
}

h1,
h2 {
  line-height: 1;
  margin-bottom: 8px;
}

ul {
  list-style: none;
}

button {
  background: #3882f6;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 32px;
}

button:hover {
  background: #629dfb;
  border: 2px solid #f9faf8;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Header */

.navbar {
  background: #1f2937;
  color: white;
  height: 72px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 900;
}

.navbar .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

/* Hero Section */

.header {
  background-color: #1f2937;
  padding: 100px 0;
}

.header h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
}

.header p {
  color: #e5e7eb;
  margin-bottom: 10px;
}

.header .image {
  align-items: center;
  align-self: stretch;
  background-color: #6d747d;
  display: flex;
  flex: 1 0 50%;
  justify-content: center;
  margin-left: 36px;
  text-align: center;
}

.header .container {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Box Section */

.boxes {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 60px;
}

.boxes h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 38px;
}

.boxes p {
  color: #4f5966;
  font-size: 14px;
}

.boxes .box {
  text-align: center;
  width: 140px;
}

.boxes .image {
  border: 3.5px solid #3882f6;
  border-radius: 10px;
  height: 140px;
  margin-bottom: 8px;
}

.boxes .container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

/* Quote Section */

.quote {
  background: #e5e7eb;
  padding: 80px 0;
}

.quote p {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.quote em {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
}

.quote .author {
  align-self: end;
  font-size: 20px;
  margin-right: 50px;
  margin-top: 10px;
}

.quote .container {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

/* CTA Section */

.cta {
  padding: 80px 0;
}

.cta .box {
  align-items: center;
  background: #3882f6;
  border-radius: 10px;
  display: flex;
  padding: 32px 32px;
  justify-content: space-around;
}

.cta button {
  border: 2px solid #f9faf8;
  flex: 0 0 auto;
  margin-left: 36px;
}

/* Footer */

.footer {
  background: #1f2937;
  height: 72px;
}

.footer p {
  color: #e5e7eb;
}

.footer .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

/* Responsive */

@media(max-width: 768px) {

  .quote .container {
    display: block;
    max-width: 100%;
    text-align: center;
  }

  .quote .author {
    margin-right: 0;
  }
}

@media(max-width: 468px) {

  .header {
    padding: 50px 0;
  }

  .header .container {
    flex-direction: column;
    text-align: center;
  }

  .header .image {
    flex: 0 0 200px;
    margin-left: 0;
    margin-top: 16px;
  }

  .boxes {
    text-align: center;
  }

  .quote .author {
    margin-top: 32px;
  }

  .cta .box {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  .cta button {
    margin-left: 0;
  }

  .footer {
    text-align: center;
  }
}
