@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  background-color: #3882f6;
  border: 0;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 32px;
}

p {
  padding-bottom: 10px;
}

/* Text Styles */
ul {
  display: flex;
  gap: 24px;
  list-style: none;
}

a {
  color: #f9faf8;
  text-decoration: none;
}

.hero-text-logo {
  font-size: 24px;
  font-weight: 900;
}

.hero-text-main {
  font-size: 48px;
  font-weight: 900;
}

.info-text-main {
  font-size: 36px;
  font-weight: 900;
}

.info-box p {
  color: #4f5966;
  font-size: 14px;
}

.quote-text-main {
  font-size: 36px;
  font-weight: 300;
}

.quote-text-author {
  align-self: flex-end;
  font-size: 20px;
  padding-right: 38px;
}

/* Section 1: Nav & Hero */
footer, .section-one {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px;
}

header, .hero {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
}

.hero {
  align-items: stretch;
  padding: 100px 0;
}

#hero-left {
  margin-right: 36px;
  text-align: left;
}

#hero-right {
  align-items: center;
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
}

/* Section 2: Images & Information */
.section-two {
  align-items: center;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 3em 0;
}

.info-container {
  display: flex;
  gap: 42px;
  margin-bottom: 48px;
}

.info-box {
  text-align: center;
  width: 140px;
}

.info-image {
  border: 3.5px solid #3882f6;
  border-radius: 8px;
  height: 140px;
  margin-bottom: 8px;
}

/* Section 3: Quote */
.section-three {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 5em 0;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 0 24%;
}

/* Section 3: Call To Action */
.section-four {
  margin: 0 20%;
  padding: 5em 0;
}

.cta {
  align-items: center;
  background-color: #3882f6;
  border-radius: 8px;
  color: #f9faf8;
  display: flex;
  justify-content: space-around;
  padding: 32px 32px;
}

.cta-text {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
}

.cta-button {
  border: 2px solid white;  
  flex: 0 0 auto; 
}

/* Footer */
footer {
  align-items: center;
  display: flex;
  height: 56px;
  justify-content: center;
}

p.footer {
  padding-bottom: 0;
}
